body{
    font-family: lato;
    // font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    
    padding: 3rem;
    
}

.header__primary{
    text-transform: uppercase;
    
    color:#fff;

    &--main{
        display: block;
        font-size:5rem ;
        letter-spacing: 3rem;
        font-weight:400;
        
        animation-name: moveInleft ;
        animation-duration: 1s; 
        
        
        
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-delay: .75s;
        animation-fill-mode: backwards;


        @media (max-width:37.5em) {

            font-size:4rem ;
            letter-spacing: 1rem;

            
        }
        
    } 
    
    &--secondry{
        animation-fill-mode: backwards;
        display: block;
        font-size: 1.5rem ;
        font-weight:400 ;
        letter-spacing: 1.2rem;
        
        animation-name: moveInRight ;
        animation-duration: 1s;  
        
        
        margin-bottom: 3rem;
        
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-delay: .75s;

        @media (max-width:37.5em) {
            
            font-size:1rem ;
            letter-spacing: .4rem;

            
        }

        
    
    }



}
