.u-text-center{
    text-align: center;
}
.u-margin-bottom{
    margin-bottom: 8rem;
}
.u-margin-bottom-less{
    margin-bottom: 1.5rem;
}
.u-margin-bottom-less-1{
    margin-bottom: 4rem;
}
.u-margin-top{
    margin-top: 8rem;
}
.u-margin-top-huge{
    margin-top: 10rem;
}