
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:  #28b485;


$light-grey-1: #f7f7f7;
$light-grey-2:#eee;
$color-dark-grey:#777777;
$color-dark-grey-2:#999;
$color-white:#ffffff;
$color-black:#000000;
$color-black-1:#333;

$color-secondry-light: #ffb900;
$color-secondry-dark: #ff7730;


$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


//font
$default-font-size:1.6rem;

//grid


$grid-width:114rem;
$vertical-margin:8rem;
$vertical-margin-small:6rem;
$horizontal-gutter:6rem;


