
.header{
    height: 95vh;

    background-image: linear-gradient(to right bottom ,rgba($color-primary-light,0.8) 
    ,rgba($color-primary-dark,0.8)) , url(./images/hero-small.jpg);



    @media (min-resolution: 192dpi) and (min-width:37.5em),
    (min-width:125em)
    {

        background-image: linear-gradient(to right bottom ,rgba($color-secondry-light,0.8) 
        ,rgba($color-secondry-dark,0.8)) , url(./images/hero.jpg);
    }

    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    position: relative;
    @media (max-width:56.5em){
        clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
    }
    &__image{
        position: absolute;
    
       margin-top : 40px;
       margin-left : 40px;

    }
    &__logo{
        width: 5rem;
        height: 3rem ;
    }
    
    &__logo:hover{
        animation: moveInRight 5s ease-out;
    }
        
    
    
    
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        backface-visibility: hidden;
        text-align: center;
    }
    
}


.heading-secondry{

    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to right,$color-primary-light, $color-primary-dark );
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;



    @media (max-width:56.5em) {
        font-size:2.5rem ;
    
    }
    
    @media (max-width:37.5em) {
        font-size:2rem ;
    
    }
  
    

    &:hover {
        transform: skewX(15deg) skewY(2deg) scale(1.1) ;
    }


    

}
.heading-tertiary{
   font-weight: 700;
    font-size: $default-font-size;
    text-transform: uppercase;

}
.paragraph{
    font-size: $default-font-size;
    font-weight: 400;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }    
}

